<div class="nosotros-container">
  <header class="nosotros-header">
    <h1>Sobre Nosotros</h1>
    <p>Conectando profesionales de la tecnología a través de eventos innovadores</p>
  </header>

  <section class="nosotros-mission">
    <div class="mission-content">
      <h2>Nuestra Misión</h2>
      <p>En LinkByte, impulsamos una comunidad activa donde los entusiastas de la tecnología pueden conectarse, compartir conocimientos y evolucionar juntos. Nuestra plataforma ofrece la posibilidad de inscribirse en eventos tecnológicos únicos o asumir el rol de organizador, fortaleciendo así un ecosistema vibrante de innovación y colaboración.</p>
    </div>
  </section>

   <section class="nosotros-team">
    <h2>EQUIPO DE DESARROLLO</h2>
    <div class="team-grid">
      <div class="team-member">
        <img src="https://media-lim1-1.cdn.whatsapp.net/v/t61.24694-24/491876693_3924918327747330_987449440952253616_n.jpg?ccb=11-4&oh=01_Q5Aa1QHugvJqAKNXPGfy557weu0gbz48ZITwYqZE2oD23Jxg5g&oe=68277B8E&_nc_sid=5e03e0&_nc_cat=109" alt="Carlos Morales Chunga">
        <h3>Carlos Morales Chunga</h3>
        <p>Desarrollador</p>
      </div>
      <div class="team-member">
        <img src="https://static.upao.edu.pe/upload/f1/000259967.jpg" alt="Miguel Escobar">
        <h3>Miguel Escobar</h3>
        <p>Desarrollador</p>
      </div>
      <div class="team-member">
        <img src="https://static.upao.edu.pe/upload/f1/000264553.jpg" alt="Oscar Llaure">
        <h3>Oscar Llaure</h3>
        <p>Desarrollador</p>
      </div>
      <div class="team-member">
        <img src="https://static.upao.edu.pe/upload/f1/000258728.jpg" alt="Mateo Castillo">
        <h3>Mateo Castillo</h3>
        <p>Desarrollador</p>
      </div>
    </div>
  </section> 

  <section class="nosotros-features">
    <h2>Lo que ofrecemos</h2>
    <div class="features-grid">
      <div class="feature">
        <i class="fas fa-microchip"></i>
        <h3>Eventos Tecnológicos</h3>
        <p>Descubre y participa en los eventos más innovadores del sector tecnológico.</p>
      </div>
      <div class="feature">
        <i class="fas fa-people-arrows"></i>
        <h3>Comunidad Activa</h3>
        <p>Conéctate con profesionales y entusiastas de la tecnología de toda la región.</p>
      </div>
      <div class="feature">
        <i class="fas fa-calendar-plus"></i>
        <h3>Organiza tus Propios Eventos</h3>
        <p>Comparte tu conocimiento y experiencia organizando tus propios eventos tecnológicos.</p>
      </div>
    </div>
  </section>
</div>