<div class="p-3">
    <div class="container mt-5 mb-5">
      <div class="row d-flex justify-content-center align-items-center bg-1 text-light subtitle m-2 py-3 px-2">
        <div class="caja d-flex justify-content-start align-items-center">
          <i class="fa-solid fa-angle-left fs-3" routerLink="/inicio"></i>
        </div>
        <div class="col text-center">
          <h1 class="mb-1" style="color: black;">Iniciar Sesión</h1>
          <p class="mb-0" style="color: black;">
            ¿No tienes una cuenta?
            <a routerLink="/auth/register" class="crear-cuenta-link text-dark" style="text-shadow: 1px 1px 2px rgba(0,0,0,0.3);">Crear</a>
          </p>
        </div>
        <div class="caja"></div>
      </div>
    </div>
  
    <form [formGroup]="loginform" (ngSubmit)="onSumbit()" class="container col-md-6 col-lg-4 formulario shadow-lg p-4 rounded-4 bg-white">
      <div class="mb-3">
        <label for="email" class="form-label text-dark">Correo:</label>
        <input id="email" class="input-c form-control" formControlName="email" type="email" placeholder="Ingrese su email" />
        <div class="alert alert-danger mt-2 p-2 py-1" [hidden]="loginform.get('email')?.valid || loginform.get('email')?.pristine">
          <span *ngIf="loginform.get('email')?.errors?.['required']">El correo es obligatorio.</span>
          <span *ngIf="loginform.get('email')?.errors?.['email']">Introduzca un correo válido.</span>
        </div>
      </div>
  
      <div class="mb-3">
        <label for="password" class="form-label text-dark">Contraseña:</label>
        <input id="password" class="input-c form-control" formControlName="password" type="password" placeholder="Ingrese su contraseña" />
        <div class="alert alert-danger mt-2 p-2 py-1" [hidden]="loginform.get('password')?.valid || loginform.get('password')?.pristine">
          <span *ngIf="loginform.get('password')?.errors?.['required']">La contraseña es obligatoria.</span>
          <span *ngIf="loginform.get('password')?.errors?.['minlength']">Su contraseña no puede ser menor a 8 caracteres.</span>
        </div>
      </div>
  
      <div class="text-center mb-3">
        <p class="mb-0">¿Olvidó su contraseña?
          <a (click)="navigateToRecovery()" class="btn-link text-primary" style="cursor: pointer;">Recuperar contraseña</a>
        </p>
      </div>
  
      <div class="d-grid">
        <button class="btn btn-login rounded-pill p-2 fs-5" type="submit" [disabled]="loginform.invalid">Iniciar Sesión</button>
      </div>
    </form>
  </div>
  