<div class="container-fluid carru p-3 p-md-5">
  <div class="row d-flex justify-content-center align-items-center m-0">
    <div class="col-12 col-md-6 m-0 mb-4 mb-md-0 text-white">
      <div class="title fw-bold">
        <p>VE Y DESCUBRE LOS EVENTOS</p>
      </div>
      <div class="description">
        <p>Encuentra, crea y participa en eventos tecnológicos y de networking a tu medida</p>
      </div>
      <div class="boton">
        @if(isAuthenticated == false){
          <button class="btn btn-outline-light rounded-pill fw-bold btn-lg register-btn" type="button" routerLink="/auth/register">REGISTRATE YA <i class="fa-solid fa-circle-chevron-right"></i></button>
        }
        @else {
          <button class="btn btn-outline-light rounded-pill fw-bold btn-lg register-btn" type="button" routerLink="/eventos">INSCRIBETE A UN EVENTO <i class="fa-solid fa-circle-chevron-right"></i></button>
        }
      </div>
    </div>

    <div class="carrusel col-12 col-md-6" style="height: 600px;">

    </div>
  </div>
</div>

<div class="container-fluid body">
  <p class="noso fw-bold text-end text-white" style="padding-right: 3em;">Sobre Nosotros</p>
  <div class="misVisi text-center">
    <div class="row mt-5 d-flex justify-content-center m-0">
      <div class="mis col-12 col-md-5 m-2 p-1">
        <h3 class="fw-bold text-black" >Misión</h3>
        <p class="card-text">Nuestra misión es ofrecer un espacio virtual y físico donde los profesionales de la tecnología puedan compartir conocimientos, establecer contactos y descubrir las últimas tendencias del sector. A través de una curaduría rigurosa de eventos, talleres y conferencias, buscamos inspirar a la comunidad, promover la colaboración y fomentar el crecimiento profesional de nuestros usuarios.</p>
      </div>
      <div class="vis col-12 col-md-5 m-2 p-1">
        <h3 class="fw-bold text-black">Visión</h3>
        <p class="card-text">Ser la plataforma de referencia en Latinoamérica para la comunidad tecnológica, conectando a los principales actores de la industria y fomentando la innovación a través de eventos de vanguardia. Aspiramos a ser un catalizador de ideas disruptivas, impulsando el desarrollo tecnológico y la transformación digital en la región.</p>
      </div>
    </div>
  </div>

  <!-- <div> </div> -->

  <div class="faq row mt-5 m-0 py-5">
    <div class="pregu col-12 col-md-4 fw-bold mb-4 mb-md-0">
      <div class="row m-0">
        <p class="fs-4" style="text-indent: 2em;">Preguntas Frecuentes</p>

      </div>
    </div>
    <div class="acor col-12 col-md-7">
      <div class="accordion" id="accordionGovench">
        <div class="accordion-item bg-secondary text-white border-0 mb-3 rounded shadow-sm">
          <h2 class="accordion-header">
            <button class="accordion-button bg-secondary text-white" type="button" data-bs-toggle="collapse" data-bs-target="#faq1" aria-expanded="true" aria-controls="faq1">
              ¿Quiénes pueden unirse a LinkByte?
            </button>
          </h2>
          <div id="faq1" class="accordion-collapse collapse show">
            <div class="accordion-body">
              Cualquier persona interesada en tecnología, innovación o networking puede formar parte de LinkByte. Desde estudiantes hasta desarrolladores, emprendedores o empresas del sector.
            </div>
          </div>
        </div>
        <div class="accordion-item bg-secondary text-white border-0 mb-3 rounded shadow-sm">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed bg-secondary text-white" type="button" data-bs-toggle="collapse" data-bs-target="#faq2" aria-expanded="false" aria-controls="faq2">
              ¿Qué tipo de eventos ofrece LinkByte?
            </button>
          </h2>
          <div id="faq2" class="accordion-collapse collapse">
            <div class="accordion-body">
              LinkByte ofrece una amplia variedad de eventos, como talleres, conferencias, bootcamps, meetups y hackathons. Todos enfocados en distintas áreas del mundo tech.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>
